/** @format */

@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/buttons' as *;
@use '../components/animations' as *;

.discription-wrapper {
	position: absolute;
	right: -10px;
	top: 10px;
	width: 330px;
	height: 130px;
	overflow: hidden;
	@include flexbox;

	&__discription {
		width: 100%;
		height: 100%;
		padding: 1rem;
		background-color: var(--color-text-icon);
		transform: skewX(-40deg);
		position: absolute;
		left: 55px;

		p {
			transform: skew(40deg);
			text-align: right;
			position: absolute;
			color: var(--color-page-background) !important;
		}
	}
}

.contact-container {
	padding: 8rem 5rem;
	min-height: 630px;

	&__network-personal-info {
		height: inherit;
		@include flexbox(space-between, start, column);

		h3 {
			@include border-gradient(0);
			border-bottom: 3px solid;
			border-left: 3px solid;
			margin-bottom: 3rem;
			padding: 0 0 0.6rem 0.6rem;
		}
	}

	&__network-account {
		@include flexbox(space-between);
		@include contact-and-network-icon;
	}

	&__personal-info {
		min-height: 140px;
		@include flexbox(space-between, start, column);
	}
	&__content-group {
		@include flexbox;
		@include contact-and-network-icon(
			$selector: '.contact-icon-bg',
			$transform: scale(1)
		);

		small {
			margin-left: 2rem;
		}
		&:hover i{
			@include animation(500ms) {
				0% {transform: rotate(0deg);}
				33% {transform: rotate(-30deg);}
				66% {transform: rotate(60deg);}
				100% {transform: rotate(0deg);}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.discription-wrapper {
		top: 70px !important;
	}
}
