@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/buttons' as *;
@use '../components/animations' as *;

.education-container {   
    &__bg-img {
        height: 380px;
        background-image: url("../../assets/images/backgrounds/bulding-bg.webp");
        background-repeat: no-repeat;
        background-position: cover;
        background-position: 30% 20%;
    }

    &__education {
        position: relative;
        height: 70px;
        margin-bottom: 7px;
        &::before {
            @include line(15%, 3px, 0, $bottom: 13px);
            @include gradient;
        }
        &:hover::before {
            @include animation(1s) {
                0% {width: 15%;} 
                50% {width: 0%;}
                100% { width: 15%;}
            }
        }
    }
    p {
        position: absolute;
        left: 20%;
        opacity: 0.6;
    }

    @include media-breakpoint-up(md) {
        &__bg-img {
            width: 285px !important;
           margin-right: 3rem !important;
           margin-left: 2rem;
        }
    }

    @include media-breakpoint-up(lg) {
        &__bg-img {
            width: 310px !important;
        }
    }
}