@use '../custom' as *;

// Navbar section
.navbar {
    
    .nav-item {
        font-size: 1.3rem;
        padding: 0 0.5rem;
    }
    .nav-item-border {
        position: relative;
        &::after {
            content: '';
            width: 60%;
            height: 2px;
            position: absolute;
            bottom: 7px;
            left: 18px;
            background-image: linear-gradient(to right, $primary, $secondary);
        }
    }
    .nav-link-lang {
        background-image: linear-gradient(to right, $primary, $secondary);
        position: relative;
        &::after {
            content: '';
            width: 3px;
            height: 32px;
            position: absolute;
            left: -15px;
            background-color: $white;
        }
    }
}