/** @format */

@use 'custom' as *;

//Import components files
@use './components/typograpy';
@use './components/mixins';
@use './components/buttons';
@use './components/animations';

//Import section files
@use './sections/navbar';
@use './sections/intro';
@use './sections/skills';
@use './sections/portfolio';
@use './sections/education';
@use './sections/language';
@use './sections/contact';
@use './sections/footer';

:root {
    --color-page-background: #{$dark};
    --color-text-icon: #{$white};
  }

  html {
    scroll-padding-top: 5rem;
  }

  body {
    background-color: var(--color-page-background);
    color: var(--color-text-icon);
  }

  .white {
    --color-page-background: #{$white};
    --color-text-icon: #{$dark};
  }

  h1, p, a, i,
  .navbar-toggler-icon{
    color: var(--color-text-icon) !important;
}