@use '../custom' as *;
@use '../components/mixins' as *;


@mixin custom-btn($width: 160px){
    width: $width;
    height: 50px;
    border-radius: 15px;
    color: $white !important;
    font-weight: bold;
    border: none;
    @include gradient;
    &:hover {
        @include gradient($opacity: 0.9);
        transition: background-image 500ms;
    }
}