@use '../custom' as *;

@mixin gradient($direction: to right, $opacity: 1) {
    background-image: linear-gradient($direction, rgb($primary, $opacity), rgb($secondary, $opacity));
}

@mixin flexbox($justify-content: center, $align-items: center, $flex-direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}