@use '../custom' as *;
@use '../components/mixins' as *;

footer {
      font-family: 'Lora', serif;
      width: 100%;
      height: 80px;
      margin-top: 4rem;
      color: $white;
      @include gradient;
      @include flexbox;

      small {
            font-size: 1.1rem;
      }
}