@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/buttons' as *;
@use '../components/animations' as *;

#skills {
    margin-top: 10rem; 
}
.skills-container {
    background-image: url('../../assets/images/backgrounds/desktop-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: inherit;
    height: 95vh;
    position: relative;

    &__bg-color  {
        width: 45%;
        height: 480px;
        @include gradient(to bottom, 0.17);

        h3 {
            margin: 20px 0;
        }
    }

    &__frontend, &__backend {
        margin-top: 50px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__content {
        width: 170px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        @include animation-on-scroll;

        &::after {
            content: '';
            width: 60px;
            height: 2px;
            background-color: $white;
            position: absolute;
            bottom: 50px;
        }
        
        &:hover {
            background-color: white;
            color: $black;
        }
        &:hover img {
            width: 47px;
            transform: translateY(10px);
            transition: width 500ms, transform 500ms;
        }
    }
    &__content.show {
        @include animation-on-scroll(1, translateY(0));
    }

    img {
        width: 40px;
        margin-bottom: 20px;
    }
    button {
        @include custom-btn(200px);
        position: absolute;
        bottom: 155px;
    }    
    @include media-breakpoint-down(sm) {
        &__content {
            width: 110px;
        }
    }
    @include media-breakpoint-down(md) {
        background-image: none;
        height: fit-content !important;
        &__bg-color {
            width: 100%;
            height: fit-content !important;
        } 
        &__frontend, &__backend {
            width: 100%;
            padding: 0 !important;
            margin-top: 30px;
        }
        button {
            bottom: -100px !important;
        }
    }
    @media screen and (max-width: 900px) and (min-width: 768px) {
        &__content {
            width: 110px;
        }
    }

    @include media-breakpoint-down(xl) {
        &__bg-color {
            height: 68vh;
        } 
    }
    @include media-breakpoint-up(md) {
        color: $white !important;
    }
}

@include media-breakpoint-down(lg) {
    #skills {
        margin-top: 5rem;
    }
}