@use '../custom' as *;
@use '../components/animations' as *;

h2, h3 {
    font-family: 'Lora', serif;
}

h2 {
    margin-top: 15rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.skills-container__content {
    small {
        display: block;
        padding: 7px 0;
    }
    &:hover small {    
        transform: translateY(-15px);
        transition: transform 500ms;
    }
    &:hover::after {
       
        background-color: $black;
        @include animation(400ms) {
            0% {opacity: 0; bottom: 50px;}
            40% {opacity: 0.5; bottom: 25px;}
            100% {opacity: 1; bottom: 10px};
        } 
     }
}

@include media-breakpoint-down(sm) {
    h2 {
        margin-top: 10rem !important;
    }
}
